{% trans_default_domain 'email' %}
{% extends 'front/mail/base.html.twig' %}
{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

    <tr>
        <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                        class="main-header">
                        <!-- section text ======-->

                        <div style="line-height: 35px">

                            {% trans into locale %}Welcome to the home of{% endtrans %} </br><span style="color: #5caad2;">{% trans into locale %}wedding services{% endtrans %}</span>

                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                            <tr>
                                <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="{{ align }}">
                        <table border="0" width="590" align="center" cellpadding="0" cellspacing="0" class="container590">
                            <tr>
                                <td align="{{ align }}" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">
                                    <!-- section text ======-->

                                    <p style="line-height: 24px; margin-bottom:15px;">

                                        {{ subscription.user }},

                                    </p>
                                    <p style="line-height: 24px;margin-bottom:15px;">
                                        {% trans with {'%plan%': subscription.plan.name} into locale %}Great news, your subscription request to the plan %plan% was validated by administrator.{% endtrans %}
                                        <br>
                                        {% trans into locale %}You can change your plan by accessing your profile page using the link below.{% endtrans %}
                                        <br>
                                        <a target="_blank" href="{{ url('vendor_pricing') }}">{% trans into locale %}Access your account{% endtrans %}</a>
                                    </p>

                                    <p style="line-height: 24px; margin-bottom:20px;">
                                        {% trans into locale %}Thank you for subscribing to our premium plans.{% endtrans %}
                                    </p>
                                    <table border="0" align="center" width="180" cellpadding="0" cellspacing="0" bgcolor="5caad2" style="margin-bottom:20px;">

                                        <tr>
                                            <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 22px; letter-spacing: 2px;">
                                                <!-- main section button -->

                                                <div style="line-height: 22px;">
                                                    <a href="{{ url('vendor_pricing') }}" style="color: #ffffff; text-decoration: none;text-transform: uppercase">{% trans into locale %}Pricing{% endtrans %}</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                        </tr>

                                    </table>
                                    <p style="line-height: 24px">
                                        {% trans into locale %}cordially,{% endtrans %}
                                        <br/>
                                        {% trans into locale %}Fouras team{% endtrans %}
                                    </p>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>





            </table>

        </td>
    </tr>

    <tr>
        <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
    </tr>

</table>
{% endblock %}
