{% extends 'base.html.twig' %}

{% block body %}
<form>
	<label>Bundles</label>
	<select name="bundle">
		<option value=""> --- </option>
		{% for b in bundles %}
		<option value="{{b}}" {% if b == bundle %}selected{% endif %}>{{b}}</option>
		{% endfor %}
	</select>
	<br>
	<label>Langue</label>
	<input name="locale" value="{{ locale }}">
	<br>
	<label>Format</label>
	<select name="output">
		<option value="xlf">xlf</option>
		<option value="xlf">yml</option>
		<option value="xlf">php</option>
	</select>
	<br>

	<input type="submit" name="" value="charger">
</form>
<hr>
<form method="post" id="single" onsubmit="updateSingleForm()">
	<input type="hidden" name="bundle" value="{{ bundle }}">
	<input type="hidden" name="locale" value="{{ locale }}">
	<table>
		<thead>
			<tr>
				<th>
					Domaine
				</th>
				<th width="300">
					Text original
				</th>
				<th>
					Traduction
				</th>
			</tr>
		</thead>
		<tbody>
			{% for key in 0..9 %}
			<tr>
				<td>
					<textarea name="domain" cols="20" rows="2">messages</textarea>
				</td>
				<td>
					<textarea name="original" cols="60" rows="2"></textarea>
				</td>
				<td>
					<textarea id="translation{{ key }}" name="target" cols="60" rows="2"></textarea>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" name="" value="Valider">
</form>
<script type="text/javascript">
	function updateSingleForm()
	{
		var originalInputs = document.forms.single.elements.original;
		var targetInputs = document.forms.single.elements.target;
		var domainInputs = document.forms.single.elements.domain;

		for (var i = 0; i < domainInputs.length; i++) {
			originalInput = originalInputs[i];
			domainInput = domainInputs[i];
			targetInput = document.forms.single.elements['translation' + i];
			console.log(originalInput, domainInput, targetInput);

			if (targetInput && targetInput.value && originalInput.value && domainInput.value) {
				targetInput.name = 'translations[' + domainInput.value + '][' + originalInput.value + ']';
			}
		}
	}
</script>
<hr>
<form method="post">
	<input type="hidden" name="bundle" value="{{ bundle }}">
	<input type="hidden" name="locale" value="{{ locale }}">
	<table>
		<thead>
			<tr>
				<th width="300">
					Text original
				</th>
				<th>
					Traduction
				</th>
			</tr>
		</thead>
		<tbody>
			{% for domain, strings in messages %}
			<h3>{{ domain }}</h3>
			{% for original, translated in strings %}
			<tr>
				<td>
					<label>{{ original }}</label>
				</td>
				<td>
					<textarea name="translations[{{ domain }}][{{ original }}]" cols="60" rows="2">{{ translated }}</textarea>
				</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" name="" value="Valider">
</form>
{% endblock %}