{% extends 'CmsBundle::base.html.twig' %}

{% block body -%}
    <h1>MenuItem list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ordering</th>
                <th>Class</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menuitem_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.ordering }}</td>
                <td>{{ entity.class }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menuitem_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('menuitem_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menuitem_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
