{% extends 'CmsBundle::base.html.twig' %}

{% block body -%}
    <h1>MenuItem</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Ordering</th>
                <td>{{ entity.ordering }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ entity.class }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('menuitem') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('menuitem_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
