<h4 class="register-heading text-center">{% trans %}Register{% endtrans %}</h4>
<div class="form-group">
		{{ form_start(form, {'method': 'POST'}) }}
		<font color="red">{{ form_errors(form.username) }}</font>
		{{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Username'|trans }}) }}
		<font color="red">{{ form_errors(form.email) }}</font>
		{{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Email address'|trans }}) }}
		<font color="red">{{ form_errors(form.firstName) }}</font>
		{{ form_widget(form.firstName, {'attr':{'class':'form-control','placeholder':'First name'|trans }}) }}
		<font color="red">{{ form_errors(form.lastName) }}</font>
		{{ form_widget(form.lastName, {'attr':{'class':'form-control','placeholder':'Last name'|trans }}) }}
		<font color="red">{{ form_errors(form.plainPassword.first) }}</font>
		{{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control','placeholder':'Password'|trans }}) }}
		<font color="red">{{ form_errors(form.plainPassword.second) }}</font>
		{{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control','placeholder':'Password (confirm)'|trans }}) }}
		<font color="red">{{ form_errors(form.usertype) }}</font>
		{% if is_granted('ROLE_ADMIN') %}
		{{ form_widget(form.usertype, {'attr':{'class':'form-control'}}) }}
		{% else %}
		{{ form_widget(form.usertype, {'attr':{'class':'form-control hidden'}}) }}
		{% endif %}
		<div class="checkbox-dtl">
			<input type="checkbox" value="None" id="checkbox" name="check" required="required">
			<label for="checkbox"></label>
			<div class="terms-conditions">{% trans %}I agree to all{% endtrans %} <a href="#">{% trans %}terms & Conditions{% endtrans %}</a></div>
		</div>

		<button type="submit" class="btn btn-pink">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
	{{ form_end(form) }}
	<p class="sign-in text-center">
		{% trans %}Already have an account?{% endtrans %} <a href="{{ path('fos_user_security_login') }}">{% trans %}Sign In{% endtrans %}</a>
	</p>
</div>
</div>
