{% block form_row %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% endif %}
    {% set attr = attr|merge({'placeholder': (form.vars.label ? form.vars.label : form.vars.name)|trans }) %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-4"><label>{{ (form.vars.label ? form.vars.label : form.vars.name)|trans }} {% if required %}*{% endif %}</label></div> 
      <div class="col-sm-8">
        {{- form_widget(form, {'attr':attr}) -}}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div> 
    </div>
{% endblock %}

{% block choice_row %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% endif %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-4"><label>{{ (form.vars.label ? form.vars.label : form.vars.name)|trans }} {% if required %}*{% endif %}</label></div> 
      <div class="col-sm-8">
        {{ block('choice_widget') }}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div> 
    </div>
{% endblock %}

{% block textarea_row %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% endif %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-4"><label>{{ (form.vars.label ? form.vars.label : form.vars.name)|trans }} {% if required %}*{% endif %}</label></div> 
      <div class="col-sm-8">
        {{ block('textarea_widget') }}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div> 
    </div>
{% endblock %}

{% block url_row %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% endif %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-3"><label>{{ (form.vars.label ? form.vars.label : form.vars.name)|trans }} {% if required %}*{% endif %}</label></div> 
      <div class="col-sm-9">
        {{ block('url_widget') }}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div>
    </div>
{% endblock %}

{% block file_widget %}
    {% if form.vars.data is not empty %}
        <img id="{{ form.vars.id }}_preview" src="{{ asset(form.vars.data.pathName) }}" class="img-responsive img-thumbnail col-md-2 preview " />
        {% else %}
        <img id="{{ form.vars.id }}_preview" src="" class="img-responsive img-thumbnail col-md-2 preview hidden" />
    {% endif %}
    {% set type = type|default('file') %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block url_widget %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'placeholder':'http://', 'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'placeholder':'http://', 'class': 'form-control'}) %}
    {% endif %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block date_widget %}
  <div class="date-picker">
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control date-pick ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control date-pick'}) %}
    {% endif %}
    {% set type = 'text' %}
    {{ block('form_widget_simple') }}
    <label><i class="fa fa-calendar" aria-hidden="true"></i></label>
  </div>
{% endblock %}

{% block _vendor_form_urls_entry_row %}
    {% set id = form.id.vars.value %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-3">{{ form_widget(form.url.type, {attr:{'class':'form-control'}}) }}</div> 
      <div class="col-sm-8">
        {{ form_widget(form.url.url) }}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div>
      <div class="col-sm-1">
      {% if id %}
      <a class="btn btn-default" href="{{ path('user_url_delete',{'id':id|number_format }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      {% endif %}
      </div> 
    </div>
{% endblock %}

{% block _couple_form_urls_entry_row %}
    {% set id = form.id.vars.value %}
    <div class="form-group row {% if errors|length %}has-error{% endif %}">
      <div class="col-sm-3">{{ form_widget(form.url.type, {attr:{'class':'form-control'}}) }}</div> 
      <div class="col-sm-8">
        {{ form_widget(form.url.url) }}
        <span class="help-block">{{ block('form_errors') }}</span>
      </div>
      <div class="col-sm-1">
      {% if id %}
      <a class="btn btn-default" href="{{ path('user_url_delete',{'id':id|number_format }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      {% endif %}
      </div> 
    </div>
{% endblock %}


