{% extends 'front/layout.html.twig' %}

{% if passwordForm is defined %}
{% form_theme passwordForm _self %}
{% endif %}

{% block password_row %}
    {% if attr.class is defined %}
    {% set attr = attr|merge({'class': 'form-control ' ~ attr.class}) %}
    {% else %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% endif %}
    {% set type = type|default('password') %}

    <div class="form-group row {% if errors|length %}has-error{% endif %}">
    <div class="col-sm-4">{{ block('form_label') }}</div>
    	<div class="col-sm-8">
    		{{ block('form_widget_simple') }}
    		<span class="help-block">{{ block('form_errors') }}</span>
    	</div>
    </div>

{% endblock %}


{% block banner %}
{% include 'front/banner.html.twig' with {'title' : 'Sign In'|trans} %}
{% endblock %}

{% block body%}
<section id="couple-dashboard" class="couple-dashboard-main-block">
	<div class="container">
    {% block message%}
		{% for type, messages in app.session.flashBag.all %}
		{% for message in messages %}
		<div class="alert {% if type == 'fos_user_success' %}alert-success{% else %}alert-{{ type }}{% endif %}">
			{{ message|trans({}, 'FOSUserBundle') }}
		</div>
		{% endfor %}
		{% endfor %}
    {% endblock message %}

		{{ render(controller('Controller\\Front\\User\\MenuController::index', {'_route': app.request.attributes.get('_route')})) }}
		{% block fos_user_content %}{% endblock fos_user_content %}
	</div>
</section>
{% endblock %}