<!-- plan start main block -->
  <section class="pt120 pb90">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 pad-0">
          <div class="plan-discription">
            <h3 class="plan-heading">Your Wedding Planing Start Here</h3>
            <p class="plan-sub-heading">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem.</p>
            <p class="plan-sub-heading">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur uis autem vel eum iure repre henderit qui in ea voluptate velit esse quam.</p>
            <a href="#" class="btn btn-pink">Read More</a>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="plan-start-block">
            <div class="row">
              <div class="col-sm-2 col-xs-3 pad-0">
                <div class="widget-icon">
                  <i class="flaticon-wedding-day"></i>
                </div>
              </div>
              <div class="col-sm-10 col-xs-9"> 
                <div class="section">
                  <h4 class="section-heading">Check List</h4>
                  <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lacinia mi id maix maximus massa duis ultricies nibh lectus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="plan-start-block">
            <div class="row"> 
              <div class="col-sm-2 col-xs-3 pad-0">
                <div class="widget-icon">
                  <i class="flaticon-love-talk"></i>
                </div>
              </div>
              <div class="col-sm-10 col-xs-9"> 
                <div class="section">
                  <h4 class="section-heading">Budget Planner</h4>
                  <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lacinia mi id maix maximus massa duis ultricies nibh lectus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="plan-start-block">
            <div class="row">
              <div class="col-sm-2 col-xs-3 pad-0">
                <div class="widget-icon">
                  <i class="flaticon-wedding-planning"></i>
                </div>
              </div>
              <div class="col-sm-10 col-xs-9"> 
                <div class="section">
                  <h4 class="section-heading">Guest List</h4>
                  <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lacinia mi id maix maximus massa duis ultricies nibh lectus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end plan start main block -->
<!-- vendor categories -->
  <section class="vendor-categories-main-block">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">More Than 50+ Wedding Vendor Categories</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-1.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">23+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Venue</a></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-2.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">16+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Cakes</a></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-3.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">18+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Dress</a></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-4.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">20+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Photography</a></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-5.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">08+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Suppliers</a></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="vendor-categories-block">
            <div class="vendor-categories-img"> 
              <img src="{{ asset('bundles/front/images/vendor-categories-6.jpg') }}" class="img-responsive" alt="vendor-category">
              <div class="meta-tags">21+</div>
              <div class="overlay-bg"></div>
              <a href="#" class="btn btn-plan">View Details</a>
            </div>
            <div class="vendor-categories-dtl">
              <h4 class="vendor-category"><a href="#">Wedding Venue</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="vendor-categories-btn text-center">
        <a href="{{ path('vendors') }}" class="btn btn-pink">view all vendors</a>
      </div>
    </div>
  </section>
<!-- end vendor categories -->
<!-- vendor profile -->
  <section class="ptb120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Top Feature Vendor Profile</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-1.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">U. K.</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Micheal Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.plus.google.com/" class="google-plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-2.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">Australia</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Jon Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.plus.google.com/" class="google-plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-3.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">USA</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Sams Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.plus.google.com/" class="google-plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-4.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">Australia</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Alex Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.plus.google.com/" class="google-plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end vendor profile -->
<!-- testimonial -->
  <section id="testimonial-block" class="testimonial-main-block" style="background-image: url('{{ asset('bundles/front/images/bg/call-out-parr.jpg') }}');">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Words From Happy Couples</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
      </div>
      <div id="testimonials-slider" class="testimonials-slider">
        <div class="item testimonial-block text-center">
          <p class="testimonial-comment">“ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasib architecto beatae vitae dicta sunt explicabo mo enim ipsam. ”</p>
          <div class="testimonial-client-img">
            <img src="{{ asset('bundles/front/images/testi-1.png') }}" class="img-responsive" alt="testimonial">
          </div>
          <div class="testimonial-dtl">
            <h5 class="testimonial-client">Micheal &amp; Elina</h5>
            <div class="date">April 27, 2017</div>
          </div>
        </div>
        <div class="item testimonial-block text-center">
          <p class="testimonial-comment">“Lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua enim adminim veniam, quis nostrud exercitation ullamco consectetur adipiscing elit sed eiusmod tempor. ”</p>
          <div class="testimonial-client-img">
            <img src="{{ asset('bundles/front/images/testi-2.png') }}" class="img-responsive" alt="testimonial">
          </div>
          <div class="testimonial-dtl">
            <h5 class="testimonial-client">Sudhir &amp; Neha</h5>
            <div class="date">April 27, 2017</div>
          </div>
        </div>
      </div>
    </div>    
  </section>
<!-- end testimonial -->
<!-- upcoming wedding -->
  <section class="ptb120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Top Inspirations Real Wedding</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste na</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="#"><img src="{{ asset('bundles/front/images/upcoming-wedd-1.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="#">Caitlin &amp; Hentze</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="#"><img src="{{ asset('bundles/front/images/upcoming-wedd-2.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="#">Lewers &amp; Isabella</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="#"><img src="{{ asset('bundles/front/images/upcoming-wedd-3.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="#">Castleton &amp; Sean</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <div class="upcoming-wedding-btn text-center">
        <a href="#" class="btn btn-pink">View More Inspirations</a>
      </div>
    </div>
  </section>
<!-- end upcoming wedding -->
<!-- call out -->
  <section id="call-out" class="call-out-main-block">
    <div class="parallax" style="background-image: url('{{ asset('bundles/front/images/bg/call-out-parr.jpg') }}');">
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="call-out-dtl">
          <h2 class="call-out-heading">Are you trying our planning tools ?</h2>
          <a href="#" class="btn btn-pink">Start Planning Today</a>
        </div>
      </div>
    </div>
  </section>
<!-- end call out -->
<!-- why choose block -->
  <section id="why-choose" class="why-choose-main-block">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="section">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h3 class="section-heading">Why Choose Weddlist</h3>
              </div>
              <div class="col-md-8 col-sm-8">
                <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua enim adminim veniam, quis nostrud exercitation ullamco.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="why-choose-block">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="why-choose-icon">
                      <img src="{{ asset('bundles/front/images/why-ch-icon-bg.png') }}" class="img-responsive" alt="icon">
                      <i class="flaticon-heart-with-arrow"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="why-choose-dtl">
                      <h4 class="why-choose-heading">20 Years Experience</h4>
                      <p class="why-choose-sub-heading">Sed ut perspiciatis unde omnis ist voluptatem accusantium doloremque laudantium ut enim ad.</p>
                      <a href="#" class="btn read-more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="why-choose-block">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="why-choose-icon">
                      <img src="{{ asset('bundles/front/images/why-ch-icon-bg.png') }}" class="img-responsive" alt="icon">
                      <i class="flaticon-food"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="why-choose-dtl">
                      <h4 class="why-choose-heading">20 Years Experience</h4>
                      <p class="why-choose-sub-heading">Sed ut perspiciatis unde omnis ist voluptatem accusantium doloremque laudantium ut enim ad.</p>
                      <a href="#" class="btn read-more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="why-choose-block">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="why-choose-icon">
                      <img src="{{ asset('bundles/front/images/why-ch-icon-bg.png') }}" class="img-responsive" alt="icon">
                      <i class="flaticon-valentine-day"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="why-choose-dtl">
                      <h4 class="why-choose-heading">20 Years Experience</h4>
                      <p class="why-choose-sub-heading">Sed ut perspiciatis unde omnis ist voluptatem accusantium doloremque laudantium ut enim ad.</p>
                      <a href="#" class="btn read-more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="why-choose-block">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="why-choose-icon">
                      <img src="{{ asset('bundles/front/images/why-ch-icon-bg.png') }}" class="img-responsive" alt="icon">
                      <i class="flaticon-wedding-day"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="why-choose-dtl">
                      <h4 class="why-choose-heading">20 Years Experience</h4>
                      <p class="why-choose-sub-heading">Sed ut perspiciatis unde omnis ist voluptatem accusantium doloremque laudantium ut enim ad.</p>
                      <a href="#" class="btn read-more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="weddlist-img">
            <img src="{{ asset('bundles/front/images/weddlist.png') }}" class="img-responsive" alt="weddlist img">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end why choose -->
<!-- wedding gallery -->
  <section id="wedding-gallery" class="wedding-gallery-main-block">
    <div class="container-fluid">
      <div class="row">
        <div id="gallery-slider" class="gallery-slider">
          <div class="item gallery-block">
            <div class="gallery-img">
              <img src="{{ asset('bundles/front/images/gallery-1.jpg') }}" class="img-responsive" alt="gallery">
            </div>
            <div class="overlay-bg"></div>
            <div class="gallery-dtl">
              <i class="fa fa-heart" aria-hidden="true"></i><span>21</span>
              <h4 class="gallery-heading"><a href="images/gallery-1.jpg') }}" title="Elina &amp; Williams">Elina &amp; Williams</a></h4>
            </div>
          </div>
          <div class="item gallery-block">
            <div class="gallery-img">
              <img src="{{ asset('bundles/front/images/gallery-2.jpg') }}" class="img-responsive" alt="gallery">
            </div>
            <div class="overlay-bg"></div>
            <div class="gallery-dtl">
              <i class="fa fa-heart" aria-hidden="true"></i><span>30</span>
              <h4 class="gallery-heading"><a href="images/gallery-2.jpg') }}" title="Jerry &amp; Jon">Jerry &amp; Jon</a></h4>
            </div>
          </div>
          <div class="item gallery-block">
            <div class="gallery-img">
              <img src="{{ asset('bundles/front/images/gallery-3.jpg') }}" class="img-responsive" alt="gallery">
            </div>
            <div class="overlay-bg"></div>
            <div class="gallery-dtl">
              <i class="fa fa-heart" aria-hidden="true"></i><span>45</span>
              <h4 class="gallery-heading"><a href="images/gallery-3.jpg') }}" title="Mariya &amp; Uday">Mariya &amp; Uday</a></h4>
            </div>
          </div>
          <div class="item gallery-block">
            <div class="gallery-img">
              <img src="{{ asset('bundles/front/images/gallery-4.jpg') }}" class="img-responsive" alt="gallery">
            </div>
            <div class="overlay-bg"></div>
            <div class="gallery-dtl">
              <i class="fa fa-heart" aria-hidden="true"></i><span>20</span>
              <h4 class="gallery-heading"><a href="images/gallery-4.jpg') }}" title="Jenny &amp; Williams">Jenny &amp; Williams</a></h4>
            </div>
          </div>
          <div class="item gallery-block">
            <div class="gallery-img">
              <img src="{{ asset('bundles/front/images/gallery-5.jpg') }}" class="img-responsive" alt="gallery">
            </div>
            <div class="overlay-bg"></div>
            <div class="gallery-dtl">
              <i class="fa fa-heart" aria-hidden="true"></i><span>45</span>
              <h4 class="gallery-heading"><a href="images/gallery-5.jpg') }}" title="Denila &amp; Sams">Denila &amp; Sams</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end wedding gallery -->