{% extends "CmsFrontBundle::layout.html.twig" %}
{% block title %}A propos de l'entreprise{% endblock %}
{% block body %}
    <section id="whyChoose" class="row contentRowPad pb0">
        <div class="container">
            <div class="row sectionTitle">
                <h4>BIENVENUE À Probatech</h4>
                <p>Probatech Construction est un acteur global de la construction et des services. Présentes dans 80 pays, nos équipes conçoivent, réalisent et exploitent des ouvrages destinés à améliorer au quotidien le cadre de vie et de travail de leurs utilisateurs.</p>
            </div>
            <div class="row text-center">
                <img src="{{ asset('images/whyChoose.jpg') }}" alt="" class="img-responsive">
            </div>            
        </div>               
        <div class="row countersRow m0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 counterCol">
                        <span class="counter">102</span>Product Design
                    </div>
                    <div class="col-sm-3 counterCol">
                        <span class="counter">58</span>Happy Customers
                    </div>
                    <div class="col-sm-3 counterCol">
                        <span class="counter">23</span>Award Winning
                    </div>
                    <div class="col-sm-3 counterCol">
                        <span class="counter">74</span>Coffee Cups
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="ourStory" class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ourStory">
                    <div class="row m0">
                        <h4>NOTRE HISTOIRE</h4>
                        <div class="media">
                            <div class="media-left">
                                <div class="post_thumbnail_row">
                                    <a href="#">
                                        <img src="{{ asset('images/ourStory.jpg') }}" alt="" class="post_thumbnail">
                                        <div class="post_thumbnail_bg"></div>
                                        <i class="fa fa-file-text"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                Depuis les débuts du groupe Probatech, Probatech Construction s’est développé au rythme de projets innovants, en suisse et à l’international. Cette capacité à déployer son expertise pour relever des défis toujours plus ambitieux dessine l’identité d’un groupe toujours en mouvement. <br><br>

Porté par son esprit d’entrepreneur,  Probatech Construction met tout en œuvre pour saisir de belles opportunités de développement, notamment en Europe. Pour conquérir de nouveaux marchés, le Groupe mise fortement sur sa capacité d’innovation, son agilité et ses compétences pour offrir toujours plus de valeur ajoutée à ses clients et ce, sur l’ensemble de la chaîne de valeur. <br><br>
En développement constant depuis plus de 15 ans, nous sommes aujourd’hui leaders de la construction durable. Cette vision du métier, nos collaborateurs la mettent quotidiennement au service de nos clients. Notre objectif commun : bâtir une vie meilleure.. <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 whyChooseRow">                        
                    <div class="row m0 whyChoose">
                        <div class="row m0">
                            <h4><i class="fa fa-check-circle-o"></i>Plus de 15 ans d'expérience</h4>
                            <p>Nos expertises nous permettent d’intervenir sur des projets extrêmement variés : des bâtiments publics ou privés en passant par les infrastructures de transports, jusqu’aux réseaux d’énergie et de communication tels que l’éclairage public de Lille ou la ligne électrique nord du Gabon.</p>
                        </div>
                    </div>
                    <div class="row m0 whyChoose">
                        <div class="row m0">
                            <h4><i class="fa fa-check-circle-o"></i>Rapidité, précision et fiabilité</h4>
                            <p>Chaque jour, dans 80 pays, probatech Construction déploie ses savoir-faire et toute son énergie pour améliorer la vie de chacun, grâce à des projets toujours plus ambitieux</p>
                        </div>
                    </div>
                    <div class="row m0 whyChoose">
                        <div class="row m0">
                            <h4><i class="fa fa-check-circle-o"></i>Nous sommes passionnés</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="workWithUs" class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 workWithUs">
                    <h4>Le travaille avec nous</h4>
                    <h2>Nous somme spécialisé dans le bâtiment et la construction civile pour plus de 15 ans</h2>
                    <a href="#">Devis</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="whoInCharge" class="row contentRowPad">
        <div class="container">
            <div class="row sectionTitle">
                <h4>Notre équipe</h4>
                <p>Probatech  accueille ses collaborateurs dans des locaux modernes et fonctionnels, offrant ainsi un environnement de travail professionnel et agréable.probatech  s’engage pour la formation. Elle soutient et accompagne des jeunes gens désireux de s’engager et d’évoluer dans les métiers du bâtiment.</p>
            </div>
            <div class="row teamSection">
                <div class="col-sm-4 team_member">
                    <div class="row m0">                        
                        <div class="row image"><img src="{{ asset('images/team/1.png') }}" alt=""></div>
                        <div class="row m0 memberIntro">
                            <h3>Philip Morales</h3>
                            <h5>Project Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0">
                        <div class="row image"><img src="{{ asset('images/team/2.png') }}" alt=""></div>
                        <div class="row m0 memberIntro">
                            <h3>Philip Morales</h3>
                            <h5>Project Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0">
                        <div class="row image"><img src="{{ asset('images/team/3.png') }}" alt=""></div>
                        <div class="row m0 memberIntro">
                            <h3>Philip Morales</h3>
                            <h5>Project Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="partners" class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/1.png') }}" alt="" class="img-responsive"></div></div>
                <div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/2.png') }}" alt="" class="img-responsive"></div></div>
                <div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/3.png') }}" alt="" class="img-responsive"></div></div>
                <div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/4.png') }}" alt="" class="img-responsive"></div></div>
            </div>
        </div>
    </section>
{% endblock %}
