{% extends "CmsFrontBundle::layout.html.twig" %}

{% block title %}ProbatechFrontendBundle:Pages:contact{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/probatechfrontend/js/contact.js') }}"></script>
<script src="{{ asset('bundles/probatechfrontend/js/google-map.js') }}"></script>
{% endblock %}

{% block body %}

    <section id="contactInfos" class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mapSide">
                    <div class="row m0 mapRow">
                        <div class="row m0 mapDiv">
                            <div id="mapBox" class="row m0"></div>
                        </div>
                        <div class="row m0 mapBg"></div>
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div class="col-sm-6 addressSide">
                    <div class="row m0 shotInfo">
                        <a href="{{ url('probatech_frontend_homepage') }}" class="logo_header"><img src="{{ asset('images/logo.png') }}" alt=""></a>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vitae imperdiet massa, id malesuada est. Ut volutpat lorem id ante egestas, non laoreet turpis venenatis.</p>
                    </div>
                    <div class="row addressRow">
                        <div class="col-xs-6 addressCol">
                            <h5>headquarter</h5>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i> 23th Collins Sc, Melbourne, VIC</li>
                                <li><i class="fa fa-phone"></i> (+064)-321-6371</li>
                                <li><i class="fa fa-envelope"></i> info@architectura.com</li>
                                <li><i class="fa fa-globe"></i> http://architectura.com</li>
                            </ul>
                        </div>
                        <div class="col-xs-6 addressCol">
                            <h5>New York Office</h5>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i> 23th Collins Sc, New York, NYC</li>
                                <li><i class="fa fa-phone"></i> (+064)-321-6371</li>
                                <li><i class="fa fa-envelope"></i> info@architectura.com</li>
                                <li><i class="fa fa-globe"></i> http://architectura.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row m0">
                        <a href="#" class="all_locations"><i class="fa fa-arrow-circle-o-right"></i> view all locations</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contactFormRow" class="row contentRowPad">
        <div class="container">                        
            <div class="row sectionTitle">
                <h4>Drop us a line</h4>
                <p>Aliquam gravida pulvinar congue. Vestibulum hendrerit et felis sit amet mattis. Nunc posuere laoreet urna, at finibus urna scelerisque ut. Vestibulum nec egestas mi, eu rutrum nulla. Ut non elit tempor, iaculis ligula nec, condimentum enim.</p>
                {{ form_errors(form) }}
            </div>
            <!-- <form class="row" id="contactForm" action="{{ path('probatech_frontend_contact') }}" method="post" {{ form_enctype(form) }} name="contact"> -->
            {{ form_start(form, {'attr':{'class':'row','id':'contactForm'}}) }}
            {{ form_errors(form) }}
            
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">{{ form_widget(form.name, { 'attr':{'class':'form-control'}}) }}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">{{ form_widget(form.email, { 'attr':{'class':'form-control'}}) }}</div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(form.subject, { 'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                     {{ form_widget(form.message, { 'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group submitRow">
                    <button type="submit">Envoyer</button>
                </div>
                <input type="hidden" name="action" value="contact" />
            {{ form_end(form) }}
            <div id="success">
                <span class="green textcenter">
                    <p>Your message was sent successfully! I will be in touch as soon as I can.</p>
                </span>
            </div>
            <div id="error">
                <span>
                    <p>Something went wrong, try refreshing and submitting the form again.</p>
                </span>
            </div>
        </div>
    </section>
{% endblock %}
