{% extends "CmsFrontBundle:Pages:layout.html.twig" %}
{% block menu %}{% endblock %}
{% block pageCover %}{% endblock %}
{% block body %}

{% block herobox %}{% endblock %}

{% block banner %}{% endblock %}

{% block blog %}{% endblock %}

{% block featureBlog %}{% endblock %}

{% block whyChoose %}{% endblock %}


		<section id="workWithUs" class="row contentRowPad">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 workWithUs">
						<h4>Le travaille avec nous</h4>
						<h2>Nous somme spécialisé dans le bâtiment et la construction civile pour plus de 15 ans</h2>
						<a href="{{ url('probatech_frontend_contact') }}#devis">Devis</a>
					</div>
				</div>
			</div>
		</section>

		<section id="whoInCharge" class="row contentRowPad">
			<div class="container">
				<div class="row sectionTitle">
					<h4>Notre équipe</h4>
					<p>Probatech  accueille ses collaborateurs dans des locaux modernes et fonctionnels, offrant ainsi un environnement de travail professionnel et agréable.probatech  s’engage pour la formation. Elle soutient et accompagne des jeunes gens désireux de s’engager et d’évoluer dans les métiers du bâtiment.</p>
				</div>
				<div class="row teamSection">
					<div class="col-sm-4 team_member">
						<div class="row m0">                        
						<div class="row image"><img src="{{ asset('images/team/1.png') }}" alt=""></div>
							<div class="row m0 memberIntro">
								<h3>Philip Morales</h3>
								<h5>Project Manager</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-4 team_member">
						<div class="row m0">
							<div class="row image"><img src="{{ asset('images/team/2.png') }}" alt=""></div>
							<div class="row m0 memberIntro">
								<h3>Philip Morales</h3>
								<h5>Project Manager</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-4 team_member">
						<div class="row m0">
							<div class="row image"><img src="{{ asset('images/team/3.png') }}" alt=""></div>
							<div class="row m0 memberIntro">
								<h3>Philip Morales</h3>
								<h5>Project Manager</h5>
							</div>
						</div>
					</div>
				</div>
			</div>        
			<div class="row countersRow m0">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 counterCol">
							<span class="counter">102</span>Product Design
						</div>
						<div class="col-sm-3 counterCol">
							<span class="counter">58</span>Happy Customers
						</div>
						<div class="col-sm-3 counterCol">
							<span class="counter">23</span>Award Winning
						</div>
						<div class="col-sm-3 counterCol">
							<span class="counter">74</span>Coffee Cups
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="testimonial" class="row contentRowPad">
			<div class="container">
				<div class="row sectionTitle">
					<h4>don't hear from us only. hear others, too</h4>
				</div>
				<div class="row testimonialSlide flexslider m0">
					<ul class="slides nav">
						<li class="testimonial">
							<div class="row m0 testimonialText">Nullam feugiat, nulla eget sodales fermentum, erat purus ultricies augue, vitae placerat augue magna a nunc. Donec eu sapien turpis. Etiam convallis sagittis dolor sit amet viverra. Donec convallis mi quis facilisis ultrices.</div>
							<div class="row m0 clientPhoto"><img src="{{ asset('images/testimonial/1.jpg') }}" alt=""></div>
							<h5>THOMAS STANLEY <span>CEO of Architectura Construction</span></h5>
						</li>   
						<li class="testimonial">
							<div class="row m0 testimonialText">Nullam feugiat, nulla eget sodales fermentum, erat purus ultricies augue, vitae placerat augue magna a nunc. Donec eu sapien turpis. Etiam convallis sagittis dolor sit amet viverra. Donec convallis mi quis facilisis ultrices.</div>
							<div class="row m0 clientPhoto"><img src="{{ asset('images/testimonial/1.jpg') }}" alt=""></div>
							<h5>John Doe <span>CEO of Architectura Construction</span></h5>
						</li>                    
					</ul>
				</div>
			</div>        
		</section>

		<section id="partners" class="row">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/1.png') }}" alt="" class="img-responsive"></div></div>
					<div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/2.png') }}" alt="" class="img-responsive"></div></div>
					<div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/3.png') }}" alt="" class="img-responsive"></div></div>
					<div class="col-sm-3 col-xs-6"><div class="row"><img src="{{ asset('images/partners/4.png') }}" alt="" class="img-responsive"></div></div>
				</div>
			</div>
		</section>
		{% endblock %}
