{% extends "CmsFrontBundle::layout.html.twig" %}

{% block title %}ProbatechFrontendBundle:Pages:project{% endblock %}

{% block pageCover %}
{{ render(controller('ProbatechFrontendBundle:Default:pageCover', { 'max': 3, 'route': app.request.attributes.get('_route'), 'title':project.title })) }}
{% endblock %}

{% block body %}

    <section id="projectsRow" class="row contentRowPad">
        <div class="container">
            <div class="row single-project">
                <div class="col-sm-8 project-description">
                    <div class="row m0 projectImages">
                        <div class="row projectImgSlider flexslider m0">
                            <ul class="slides nav">
                            {% for img in project.images %}
                                <li class="testimonial"><img src="{{ url('probatech_frontend_homepage') }}/{{ img.url }}" alt="" class="img-reponsvie"></li>
                            {% endfor %}
                            </ul>
                        </div>                        
                        <div class="row m0 thumbnail_bg"></div>
                    </div>
                    <div class="row m0 description_row">
                        <h4>Description</h4>
                        {{ project.description|raw }}
                    </div>
                    <nav class="hidden-xs single_project_nav">
                      <ul class="pager">
                {% if prevProject %}<li class="previous"><a href="{{ prevProject }}.html"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                <li class="all_projects"><a href="{{ url('probatech_frontend_projects') }}"><i class="glyphicon glyphicon-th-large"></i></a></li>
                {% if nextProject %}<li class="next"><a href="{{ nextProject }}.html"><i class="fa fa-angle-right"></i></a></li>{% endif %}
              </ul>
                    </nav>
                </div>
                <div class="col-sm-4 project_about">
                    <div class="row m0 about aboutRow">
                        <h4>About Project</h4>
                        <p>{{ project.intro|raw }}</p>
                    </div>
                    <div class="row m0 info aboutRow">
                        <h4>Project Info</h4>
                        <dl class="dl-horizontal">
                            <dt>Client:</dt>
                            <dd>Bryan Keith</dd>
                            <dt>Location:</dt>
                            <dd>Melbourne, VIC</dd>
                            <dt>Start date:</dt>
                            <dd>Feb 12th, 2015</dd>
                            <dt>Finish date:</dt>
                            <dd>Mar 27th, 2015</dd>
                            <dt>Surface area:</dt>
                            <dd>100 m2</dd>
                            <dt>Value:</dt>
                            <dd>Private</dd>
                        </dl>
                    </div>
                    <div class="row m0 share aboutRow">
                        <h4>Share this project</h4>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <nav class="visible-xs single_project_nav">
              <ul class="pager">
                {% if prevProject %}<li class="previous"><a href="{{ prevProject }}.html"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                <li class="all_projects"><a href="{{ url('probatech_frontend_projects') }}"><i class="glyphicon glyphicon-th-large"></i></a></li>
                {% if nextProject %}<li class="next"><a href="{{ nextProject }}.html"><i class="fa fa-angle-right"></i></a></li>{% endif %}
              </ul>
            </nav>            
        </div>
    </section>
<section id="relatedProjects" class="row contentRowPad">
        <div class="container">            
            <div class="row sectionTitle">
                <h4>Related Projects</h4>
            </div>
            <div class="row" id="projectsContainer">
                <div class="col-sm-4 project commercial">
                    <div class="post_thumbnail_row row m0">
                        <a href="project-single.html">
                            <img src="{{ asset('images/projects/4.jpg') }}" alt="" class="post_thumbnail">
                            <div class="post_thumbnail_bg"></div>
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                    <a href="project-single.html"><h5 class="porjectTitle">QUISQUE SODALES NISL ANTE</h5></a>
                    <div class="row m0 project_meta">
                        <div class="fleft project_category"><i class="fa fa-folder-o"></i>Commercial</div>
                        <div class="fleft project_views"><i class="fa fa-eye"></i>1.2k</div>
                    </div>
                </div> <!--Project-->
                <div class="col-sm-4 project bridges">
                    <div class="post_thumbnail_row row m0">
                        <a href="blog-single.html">
                            <img src="{{ asset('images/projects/5.jpg') }}" alt="" class="post_thumbnail">
                            <div class="post_thumbnail_bg"></div>
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                    <a href="project-single.html"><h5 class="porjectTitle">QUISQUE SODALES NISL ANTE</h5></a>
                    <div class="row m0 project_meta">
                        <div class="fleft project_category"><i class="fa fa-folder-o"></i>Bridges</div>
                        <div class="fleft project_views"><i class="fa fa-eye"></i>1.2k</div>
                    </div>
                </div> <!--Project-->
                <div class="col-sm-4 project commercial">
                    <div class="post_thumbnail_row row m0">
                        <a href="blog-single.html">
                            <img src="{{ asset('images/projects/6.jpg') }}" alt="" class="post_thumbnail">
                            <div class="post_thumbnail_bg"></div>
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                    <a href="project-single.html"><h5 class="porjectTitle">QUISQUE SODALES NISL ANTE</h5></a>
                    <div class="row m0 project_meta">
                        <div class="fleft project_category"><i class="fa fa-folder-o"></i>Commercial</div>
                        <div class="fleft project_views"><i class="fa fa-eye"></i>1.2k</div>
                    </div>
                </div> <!--Project-->
            </div>
        </div>
    </section>

{% endblock %}
