{% extends "CmsFrontBundle::layout.html.twig" %}

{% block title %}Secteur d'activité{% endblock %}

{% block body %}
    <section id="blogs" class="row contentRowPad">
        <div class="container">            
            <div class="row sectionTitle">
                <h4>Nos services</h4>
                <p>La diversité des prestations proposées inclut des projets de différentes envergures.
Grâce à des outils modernes, efficaces et à des compétences reconnues de longue date, l’entreprise Bollini est en mesure de s’occuper de travaux en tout genre.</p>
            </div>
            <div class="row" id="servicesBlocks">
            <article class="col-sm-4 blog">
                    <div class="row m0">
                        <div class="post_thumbnail_row row m0">
                            <a href="service.html">
                                <img src="{{ asset('images/blog/1.jpg') }}" alt="" class="post_thumbnail">
                                <div class="post_thumbnail_bg"></div>
                                <i class="fa fa-cube"></i>
                            </a>
                        </div>
                        <h5 class="blog_title"><a href="service.html">BÂTIMENT</a></h5>
                        <p>L’entreprise a su développer des compétences particulières dans les différents types de construction.</p>
                        <a href="service.html" class="read_more"><i class="fa fa-arrow-circle-o-right"></i>En savoir plus</a>
                    </div>
                </article>
                <article class="col-sm-4 blog">
                    <div class="row m0">
                        <div class="post_thumbnail_row row m0">
                            <a href="service.html">
                                <img src="{{ asset('images/blog/2.jpg') }}" alt="" class="post_thumbnail">
                                <div class="post_thumbnail_bg"></div>
                                <i class="fa fa-comment"></i>
                            </a>
                        </div>
                        <h5 class="blog_title"><a href="service.html">Rénovation</a></h5>
                        <p>Société de rénovation de bâtiments industriels :  Projetez-vous de rénover des bâtiments industriels?</p>
                        <a href="service.html" class="read_more"><i class="fa fa-arrow-circle-o-right"></i>En savoir plus</a>
                    </div>
                </article>
                <article class="col-sm-4 blog">
                    <div class="row m0">
                        <div class="post_thumbnail_row row m0">
                            <a href="service.html">
                                <img src="{{ asset('images/blog/7.jpg') }}" alt="" class="post_thumbnail">
                                <div class="post_thumbnail_bg"></div>
                                <i class="fa fa-cube"></i>
                            </a>
                        </div>
                        <h5 class="blog_title"><a href="service.html">GÉNIE CIVIL</a></h5>
                        <p>Ce secteur comprend la construction de routes, canalisations et conduites, revêtements, excavations et travaux urbains.</p>
                        <a href="service.html" class="read_more"><i class="fa fa-arrow-circle-o-right"></i>En savoir plus</a>
                    </div>
                </article>
                <article class="col-sm-4 blog">
                    <div class="row m0">
                        <div class="post_thumbnail_row row m0">
                            <a href="service.html">
                                <img src="{{ asset('images/blog/8.jpg') }}" alt="" class="post_thumbnail">
                                <div class="post_thumbnail_bg"></div>
                                <i class="fa fa-cube"></i>
                            </a>
                        </div>
                        <h5 class="blog_title"><a href="service.html">Entreprise générale</a></h5>
                        <p>Quelle que soit la dimension du projet, l’entreprise générale assume toutes les démarches : planification, financement, choix de l’équipe projet etc….</p>
                        <a href="service.html" class="read_more"><i class="fa fa-arrow-circle-o-right"></i>En savoir plus</a>
                    </div>
                </article>
                <article class="col-sm-4 blog">
                    <div class="row m0">
                        <div class="post_thumbnail_row row m0">
                            <a href="service.html">
                                <img src="{{ asset('images/blog/9.jpg') }}" alt="" class="post_thumbnail">
                                <div class="post_thumbnail_bg"></div>
                                <i class="fa fa-cube"></i>
                            </a>
                        </div>
                        <h5 class="blog_title"><a href="service.html">Transformation</a></h5>
                        <p>Les postes de transformation client doivent être réalisés par des entreprises qui sont
en possession d’un certicat de qualification professionnelle.</p>
                        <a href="service.html" class="read_more"><i class="fa fa-arrow-circle-o-right"></i>En savoir plus</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
