{% extends 'FrontBundle::Couple/layout.html.twig' %}

{% block body %}
<section id="budget-planner" class="budget-planner-main-block">
    <div class="container">
      {% include 'FrontBundle::Couple/menu.html.twig' %}
      <div class="create-category-block">
        <h4 class="create-category-heading">Create New Category</h4>
        <div class="form-group">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="select-category-name-dropdown dropdown">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="drp-name" data-bind="label">{% trans %}Category Name{% endtrans %}</span>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Cake{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Florist{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Dresses{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Jewellery{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Venue{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Photography{% endtrans %}</a></li>
                    <li><a href="{{ path('couple_budget') }}#">{% trans %}Music{% endtrans %}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <input type="text" id="keyword-search" class="form-control" placeholder="keyword search">
              </div>
              <div class="col-sm-4">  
                <button type="button" class="btn btn-default">{% trans %}Add category +{% endtrans %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="budget-category-table">
        <table>
          <tbody><tr>
            <th class="heading-align budget-planner-heading">{% trans %}Budget Category{% endtrans %}</th>
            <td class="estimated-align hidden-xs">Estimated Cost <div class="budget-planner-price">$20,000</div></td>
            <td class="actual-align">{% trans %}Actual Cost{% endtrans %} <div class="budget-planner-price">$20,000</div></td>
            <td class="paid-align">{% trans %}Paid{% endtrans %} <div class="budget-planner-price">$5000</div></td>
            <td class="due-align hidden-xs">Due <div class="budget-planner-price">$15000</div></td>
            <td class="action-align">{% trans %}Actions{% endtrans %}</td>
          </tr>
        </tbody></table>
      </div>
      <div class="budget-category-full-table">
        <div class="panel-group faq-panel" id="accordion1" role="tablist" aria-multiselectable="false">
          <table>
            <tbody><tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="{{ path('couple_budget') }}#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ceremony Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Ceremony Cost</th>
                          <td class="estimated-align hidden-xs">{% trans %}Estimated Cost{% endtrans %}</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="{{ path('couple_budget') }}#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Clothing, Accessories &amp; Makeup Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Clothing, Accessories &amp; Makeup Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="{{ path('couple_budget') }}#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Family Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Family Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="{{ path('couple_budget') }}#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Food &amp; Beverages Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Food &amp; Beverages Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title to-do-list-heading">
                      <a role="button" data-toggle="collapse" data-parent="#accordion1" href="{{ path('couple_budget') }}#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Dj yeah
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Dj Yeah</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
      <div class="add-new-table-btn">
        <button type="button" class="btn btn-default">Add New +</button>
      </div>
      <div class="budget-category-full-table budget-category-full-new-table">
        <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="false">
          <table>
            <tbody><tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-newOne">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_budget') }}#collapse-newOne" aria-expanded="false" aria-controls="collapse-newOne">
                        Honeymoon Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-newOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-newOne">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Honeymoon Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-newTwo">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_budget') }}#collapse-newTwo" aria-expanded="false" aria-controls="collapse-newTwo">
                        Invites &amp; Gift Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-newTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-newTwo">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">Invites &amp; Gift Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-newThree">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_budget') }}#collapse-newThree" aria-expanded="false" aria-controls="collapse-newThree">
                        jewellery Cost
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-newThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-newThree">
                    <div class="panel-body budget-category-table-block">
                      <table>
                        <tbody><tr class="data-table-heading">
                          <th class="heading-align">jewellery Cost</th>
                          <td class="estimated-align hidden-xs">Estimated Cost</td>
                          <td class="actual-align">{% trans %}Actual{% endtrans %}</td>
                          <td class="paid-align">{% trans %}Paid{% endtrans %}</td>
                          <td class="due-align hidden-xs">{% trans %}Due{% endtrans %}</td>
                          <td class="action-align">{% trans %}Actions{% endtrans %}</td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Cost</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">{% trans %}Transport{% endtrans %}</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="heading-align">Dj Songs</th>
                          <td class="estimated-align hidden-xs">$100</td>
                          <td class="actual-align">$100</td>
                          <td class="paid-align">$0</td>
                          <td class="due-align hidden-xs hidden-xs">$100</td>
                          <td class="action-align">
                            <div class="table-editable-icon">
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                              <a href="{{ path('couple_budget') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr> 
                      </tbody></table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}