{% extends 'FrontBundle::Couple/layout.html.twig' %}

{% block body %}
<section id="guest-list" class="guest-list-main-block">
    <div class="container">
      {% include 'FrontBundle::Couple/menu.html.twig' %}
      <div class="guest-list-block">
        <div class="row">
          <div class="col-md-5">
            <div class="create-task-block">
              <h4 class="create-task-heading">{% trans %}Add New Guest{% endtrans %}</h4>
              <div class="form-group">
                <form>
                  <label for="task-title">{% trans %}Guest Name{% endtrans %}</label>
                  <input type="text" class="form-control" id="task-title">
                  <label for="task-date">{% trans %}Guest Phone No.{% endtrans %}</label>
                  <input type="text" class="form-control" id="task-date">
                  <label for="guest-email">{% trans %}Guest email.{% endtrans %}</label>
                  <input type="text" class="form-control" id="guest-email">
                  <label>{% trans %}Guest Description{% endtrans %}</label>
                  <textarea class="form-control" id="task-description"></textarea>
                  <button type="button" class="btn btn-pink">{% trans %}Add Guest{% endtrans %}</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="to-do-list">
              <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_guestlist') }}#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Will Smith
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body to-do-list-dtl">
                      <div class="row">
                        <div class="col-sm-8">
                          <h4 class="to-do-list-dtl-heading">Exce pteur sint occaecat cupid</h4>
                          <div class="date">willsmith@google.com</div>
                          <div class="phone">+1 8908 7839 890</div>
                        </div>
                        <div class="col-sm-4">
                          <div class="to-do-list-action-tabs">
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title to-do-list-heading">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_guestlist') }}#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Toby Maker
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body to-do-list-dtl">
                      <div class="row">
                        <div class="col-sm-8">
                          <h4 class="to-do-list-dtl-heading">Exce pteur sint occaecat cupid</h4>
                          <div class="date">tobymaker@google.com</div>
                          <div class="phone">+1 8908 7839 890</div>
                        </div>
                        <div class="col-sm-4">
                          <div class="to-do-list-action-tabs">
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_guestlist') }}#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Alexender Neon                    
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body to-do-list-dtl">
                      <div class="row">
                        <div class="col-sm-8">
                          <h4 class="to-do-list-dtl-heading">Exce pteur sint occaecat cupid</h4>
                          <div class="date">alexenderneon@google.com</div>
                          <div class="phone">+1 8908 7839 890</div>
                        </div>
                        <div class="col-sm-4">
                          <div class="to-do-list-action-tabs">
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title to-do-list-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ path('couple_guestlist') }}#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Fairy Tale
                        <span class="faq-btn faq-btn-plus hidden-xs"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <span class="faq-btn faq-btn-minus hidden-xs"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body to-do-list-dtl">
                      <div class="row">
                        <div class="col-xs-8">
                          <h4 class="to-do-list-dtl-heading">Exce pteur sint occaecat cupid</h4>
                          <div class="date">fairytale@google.com</div>
                          <div class="phone">+1 8908 7839 890</div>
                        </div>
                        <div class="col-xs-4">
                          <div class="to-do-list-action-tabs">
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="{{ path('couple_guestlist') }}#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}