{% extends 'front/layout.html.twig' %}

{% block banner %}
{% include 'front/banner.html.twig' with {'title' : 'Real Wedding Listing'|trans} %}
{% endblock %}

{% block body %}
<section id="real-wedding-listing" class="real-wedding-listing">
    <div class="container">
      {% if weddings and weddings.children|length > 0 %}
      <div class="row">
        {% for wedding in weddings.children %}
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding_gallery', {categoryId: wedding.id, alias: wedding.alias }) }}"><img src="{{ cms_base_url ~ wedding.image.url }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">{{ date(wedding.image.alt)|localizeddate('full', 'none', current_locale, null, 'd MMMM Y') }}</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding_gallery', {categoryId: wedding.id, alias: wedding.alias }) }}">{{ wedding.title }}</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="section text-center">
          <h3 class="section-heading">{% trans %}No results found{% endtrans %}</h3>
          <p class="section-sub-heading"></p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}