{% extends 'front/layout.html.twig' %}

{% block banner %}
{% include 'front/banner.html.twig' with {'title' : 'Real Wedding Listing'} %}
{% endblock %}

{% block body %}
<section id="real-wedding-listing" class="real-wedding-listing">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-1.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Caitlin &amp; Hentze</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-2.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Lewers &amp; Isabella</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-3.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Castleton &amp; Sean</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
             <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-2.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Lewers &amp; Isabella</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-3.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Caitlin &amp; Hentze</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-1.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Castleton &amp; Sean</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-1.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Caitlin &amp; Hentze</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-2.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Castleton &amp; Sean</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="upcoming-wedding-block real-wedding-block">
            <div class="upcoming-wedd-img">
              <a href="{{ path('wedding') }}"><img src="{{ asset('bundles/front/images/upcoming-wedd-3.jpg') }}" class="img-responsive" alt="upcoming-wedding"></a>
            </div>
            <div class="upcoming-wedding-dtl text-center">
              <div class="date">March 28, 2017</div>
              <h4 class="wdding-couple"><a href="{{ path('wedding') }}">Lewers &amp; Isabella</a></h4>
              <img src="{{ asset('bundles/front/images/sep-1.png') }}" class="img-responsive" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <ul>
          <li class="active"><a href="real-wedding-listing.html#" class="btn btn-default">1</a></li>
          <li><a href="real-wedding-listing.html#" class="btn btn-default">2</a></li>
          <li><a href="real-wedding-listing.html#" class="btn btn-default">3</a></li>
          <li><a href="real-wedding-listing.html#" class="btn btn-default">4</a></li>
          <li><a href="real-wedding-listing.html#" class="btn btn-default"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}