<div class="blog-sidebar">
    <div class="widget blog-search text-right">
        <form action="{{ path('blog') }}" method="get">
            <input name="search" type="search" id="search" class="form-control" placeholder="{% trans %}Enter Keyword{% endtrans %}">
            <button type="submit" class="btn btn-pink">{% trans %}Go{% endtrans %}</button>
        </form>
    </div>
    {% if blogCategory is defined and not blogCategory is empty %}
        <div class="widget">
            <h4 class="blog-sidebar-heading">{% trans %}Blog Categories{% endtrans %}</h4>
            <ul>
                {% for cat in blogCategory.children %}
                    <li {{ currentCatId is defined and currentCatId == cat.id ? 'class="active"' : '' }}><a href="{{ path('blog', {categoryId:cat.id, alias:cat.alias}) }}">{{ cat.title|trans }} <span>({{ cat.count }})</span></a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if newsArticles is defined and newsArticles.total is defined and newsArticles.total != 0 %}
        <div class="widget blog-latest-news">
            <h4 class="blog-sidebar-heading">{% trans %}Latest News{% endtrans %}</h4>
            {% for news in newsArticles.results %}
                <div class="blog-news">
                    <div class="blog-news-img">
                        <img src="{{ cms_base_url ~ news.images.image_intro }}" class="img-responsive" alt="latest-news">
                    </div>
                    <div class="blog-news-dtl">
                        <h6 class="blog-news-dtl-heading"><a href="{{ path('article', {id:news.id, alias:news.alias })}}">{{ news.title }}</a></h6>
                        <div class="date">{{ date(news.created)|localizeddate('full', 'none', current_locale, null, 'd MMMM Y') }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>