{% extends 'base.html.twig' %}

{% block body %}
    <h1>Couples list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Weddingdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couple in couples %}
            <tr>
                <td><a href="{{ path('couple_show', { 'id': couple.id }) }}">{{ couple.id }}</a></td>
                <td>{% if couple.weddingDate %}{{ couple.weddingDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('couple_show', { 'id': couple.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('couple_edit', { 'id': couple.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('couple_new') }}">Create a new couple</a>
        </li>
    </ul>
{% endblock %}
