{% extends 'base.html.twig' %}

{% block body %}
    <h1>Couple</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ couple.id }}</td>
            </tr>
            <tr>
                <th>Weddingdate</th>
                <td>{% if couple.weddingDate %}{{ couple.weddingDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('couple_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('couple_edit', { 'id': couple.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
