{% set current_route = app.request.attributes.get('_route') %}
<ul class="couple_dashboard-tabs general-nav-tabs tabs">
	<li><a href="{{ path('couple_dashboard') }}" class="{% if current_route == 'couple_dashboard'%}active{% endif %} btn btn-default"><span class="badge">{% trans %}Dashboard{% endtrans %}</span></a></li>
	<li><a href="{{ path('couple_profile') }}" class="{% if current_route == 'couple_profile'%}active{% endif %} btn btn-default"><span class="badge">{% trans %}Profile{% endtrans %}</span></a></li>
	
	<li><a href="{{ path('couple_budget') }}" class="{% if current_route == 'couple_budget'%}active{% endif %} btn btn-default"><span class="badge">{% trans %}My Budget{% endtrans %}</span></a></li>
	<li><a href="{{ path('couple_wishlist') }}" class="{% if current_route == 'couple_wishlist'%}active{% endif %} btn btn-default"><span class="badge">{% trans %}My Wishlist{% endtrans %}</span></a></li>
	<li><a href="{{ path('couple_guestlist') }}" class="{% if current_route == 'couple_guestlist'%}active{% endif %} btn btn-default"><span class="badge">{% trans %}Guest List{% endtrans %}</span></a></li>
</ul>