{% extends 'base.html.twig' %}
{% block meta %}
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="MobileOptimized" content="320">
{% endblock %}
{% block title %}{% trans %}Fouras{% endtrans %}{% endblock %}
{% block stylesheets %}
<!-- theme style -->
<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
{% if app.request.locale == 'ar' %}
<link href="{{ asset('assets/css/bootstrap-rtl.min.css') }}" rel="stylesheet" type="text/css">
{% endif %}
<!-- bootstrap css -->
<!-- revolution -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/settings.css') }}"> <!-- revolution setting css -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/layers.css') }}">  <!-- revolution layer css -->
<!-- end revolution -->
<link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"> <!-- fontawesome css -->
<link href="{{ asset('assets/css/css') }}" rel="stylesheet" type="text/css"> <!-- google fonts -->
<link href="{{ asset('assets/css/menumaker.css') }}" rel="stylesheet" type="text/css"> <!-- menu css -->
<link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet" type="text/css"> <!-- owl carousel css -->
<link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet" type="text/css"> <!-- magnify popup css -->
<link href="{{ asset('assets/css/datepicker.css') }}" rel="stylesheet" type="text/css"> <!-- datepicker css -->
<link href="{{ asset('assets/css/flaticon.css') }}" rel="stylesheet" type="text/css"> <!-- flaticon css -->
<link href="{{ asset('assets/css/stucture.css') }}" rel="stylesheet" type="text/css"> <!-- stucture css -->
<link href="{{ asset('assets/css/share-tooltip.css') }}" rel="stylesheet" type="text/css"> <!-- google fonts -->
<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"> <!-- custom css -->
{% if app.request.locale == 'ar' %}
<link href="{{ asset('assets/css/style.ar.css') }}" rel="stylesheet" type="text/css">
{% endif %}
<!-- end theme style -->
{% endblock %}
{% block javascripts %}
<!-- jquery -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>  <!-- jquery library js -->
<script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script> <!-- bootstrap js -->
<script type="text/javascript" src="{{ asset('assets/js/owl.carousel.js') }}"></script> <!-- owl carousel js -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.ajaxchimp.js') }}"></script> <!-- mail chimp js -->
<script type="text/javascript" src="{{ asset('assets/js/smooth-scroll.js') }}"></script> <!-- smooth scroll js -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script> <!-- magnify popup js -->
<script type="text/javascript" src="{{ asset('assets/js/waypoints.min.js') }}"></script> <!-- facts count js required for jquery.counterup.js file -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.counterup.js') }}"></script> <!-- facts count js-->
<script type="text/javascript" src="{{ asset('assets/js/menumaker.js') }}"></script> <!-- menu js-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.share-tooltip.js') }}"></script> <!-- share tooltip js-->
<script type="text/javascript" src="{{ asset('assets/js/price-slider.js') }}"></script> <!-- price slider / filter js-->
<script type="text/javascript" src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script> <!-- datepicker js-->
<!-- revolution js files -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.themepunch.tools.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.themepunch.revolution.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.actions.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.kenburn.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.navigation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/revolution.extension.slideanims.min.js') }}"></script>
<!-- end revolution js files -->
<script type="text/javascript" src="{{ asset('assets/js/theme.js') }}"></script>
{% endblock %}

{% block header %}
{% include 'front/topbar.html.twig' %}
{{ render(controller('Infrastructure\\Controller\\Front\\MainmenuController::index')) }}
{% endblock %}

{% block banner %}{% endblock %}

{% block preloader %}
<!-- preloader -->
<div class="preloader">
	<div class="status">
		<div class="status-message">
		</div>
	</div>
</div>
<!-- end preloader -->
{% endblock %}

{% block messages %}
{% include 'front/messages.html.twig' %}
{% endblock %}

{% block footer %}
{% include 'front/footer.html.twig' %}
{% endblock %}

{% if form is defined %}
{% form_theme form 'front/fields.html.twig' %}
{% endif %}

{% if passwordForm is defined %}
{% form_theme passwordForm 'front/fields.html.twig' %}
{% endif %}
