<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(passwordForm) }} method="POST">
	<div class="change-password-block">
		{{ form_row(passwordForm.current_password) }}
		{{ form_row(passwordForm.new.first) }}
		{{ form_row(passwordForm.new.second) }}
		<div class="form-group row">
			<div class="col-sm-offset-2  col-sm-8">
				<input type="submit" class="btn btn-pink" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
			</div> 
		</div>
		{{ form_rest(passwordForm) }}
	</div>
</form>
