<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Probatech Constructions SA{% endblock %}</title>
	{% include 'head.html.twig' %}
	{% block stylesheets %}
	{% include 'style.html.twig' %}
	{% endblock %}
</head>
<body>
	<header class="row">
		{% block flashMessages %}
		{% if app.session.flashbag.has('notice')  %}
		<div class="topRow row m0">
			<div class="container">
				<div class="row m0">
					<div class="fleft"><i class="fa fa-info-circle"></i>  
                    {% for flash in app.session.flashbag.get('notice') %}
                    {{ flash }}
                    {% endfor %}</div>
				</div>
			</div>
		</div>
		{% endif %}
        {% endblock %}
		<div class="row m0 searchFormRow">
			<div class="container">
                <!--<form action="#" role="search" class="row m0">
                    <div class="input-group">
                        <input type="search" class="form-control" id="search-value" name="search-value" placeholder="Search here ...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </form>-->
            </div>
        </div>
        <div class="bottomRow row m0">
        	<div class="container">
        		<div class="row">
        			{% block menu %}{% endblock %}
        		</div>
        	</div>
        </div>
    </header>
    {% block pageCover %}{% endblock %}

    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}
    {% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/nicescroll/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('vendors/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('vendors/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ asset('vendors/counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('vendors/owl.carousel/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('vendors/isotope/isotope-custom.js') }}"></script>
    <script src="{{ asset('vendors/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('js/architectura.js') }}"></script>
    {% endblock %}
</body>
</html>