{% extends 'front/layout.html.twig' %}

{% block banner %}
{% include 'front/banner.html.twig' with {'title' : 'About us'} %}
{% endblock %}

{% block body %}
<!-- about our main block -->
  <section id="about-our" class="pt120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">{% trans %}About Our Weddlist{% endtrans %}</h3>
        <p class="section-sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem{% endtrans %}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about-main-img">
            <img src="{{ asset('bundles/front/images/about-us-main.png') }}" class="img-responsive" alt="about-img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-our-block">
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-loving-home"></i>
                <h4 class="about-our-heading">{% trans %}Weddlist History{% endtrans %}</h4>
              </div>
              <div class="about-our-text">
                <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.{% endtrans %}</p>
                <a href="about-us.html#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              </div>
            </div>
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-heart-shaped-padlock"></i>
                <h4 class="about-our-heading">{% trans %}Our Vision{% endtrans %}</h4>
              </div>
              <div class="about-our-text">
                <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.{% endtrans %}</p>
                <a href="about-us.html#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              </div>
            </div>
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-heart-with-arrow"></i>
                <h4 class="about-our-heading">{% trans %}Our Mission{% endtrans %}</h4>
              </div>
              <div class="about-our-text">
                <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.{% endtrans %}</p>
                <a href="about-us.html#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end about our main block --> 
<!-- wedding plan -->
  <section id="wedding-plan" class="ptb120 bglight">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">{% trans %}Start Planning Your Wedding Step By Step{% endtrans %}</h3>
        <p class="section-sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem{% endtrans %}</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="{{ asset('bundles/front/images/wedding-plan-1.jpg') }}" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="{{ path('couple_budget') }}">{% trans %}Budget Planner{% endtrans %}</a></h5>
              <p class="sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.{% endtrans %}</p>
              <a href="{{ path('couple_budget') }}" class="btn btn-default">{% trans %}View Details{% endtrans %}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="{{ asset('bundles/front/images/wedding-plan-2.jpg') }}" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="{{ path('couple_guestlist') }}">{% trans %}Guest List{% endtrans %}</a></h5>
              <p class="sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.{% endtrans %}</p>
              <a href="{{ path('couple_guestlist') }}" class="btn btn-default">{% trans %}View Details{% endtrans %}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="{{ asset('bundles/front/images/wedding-plan-3.jpg') }}" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="{{ path('couple_todo') }}">{% trans %}Check List{% endtrans %}</a></h5>
              <p class="sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.{% endtrans %}</p>
              <a href="{{ path('couple_todo') }}" class="btn btn-default">{% trans %}View Details{% endtrans %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end wedding plan -->
<!-- call out -->
  <section id="call-out" class="call-out-main-block">
    <div class="parallax" style="background-image: url(&#39;images/bg/call-out-parr.jpg&#39;);">
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="call-out-dtl">
          <h2 class="call-out-heading">{% trans %}Are you trying our planning tools ?{% endtrans %}</h2>
          <a href="{{ path('couple_budget') }}" class="btn btn-pink">{% trans %}Start Planning Today{% endtrans %}</a>
        </div>
      </div>
    </div>
  </section>
<!-- end call out -->
<!-- why choose -->
  <section id="why-choose" class="why-choose-main-block ptb120">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="why-choose-img">
            <img src="{{ asset('bundles/front/images/why-choose.png') }}" class="img-responsive" alt="why-choose">
          </div>
        </div>
        <div class="col-md-8">
          <div class="section">
            <div class="row">
              <div class="col-sm-5">
                <h3 class="section-heading">{% trans %}Why Choose Weddlist{% endtrans %}</span></h3>
              </div>
              <div class="col-sm-7">
                <p class="section-sub-heading">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.{% endtrans %}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-two-hearts"></i>
                </div>
                <h4 class="why-choose-heading">{% trans %}20 Year Experience{% endtrans %}</h4>
                <p>{% trans %}Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium{% endtrans %}</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-food"></i>
                </div>
                <h4 class="why-choose-heading">{% trans %}1500+ Wedding Suppliers{% endtrans %}</h4>
                <p>{% trans %}Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium{% endtrans %}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-valentine-day"></i>
                </div>
                <h4 class="why-choose-heading">{% trans %}100 Real Weddings{% endtrans %}</h4>
                <p>{% trans %}Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium{% endtrans %}</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-wedding-day"></i>
                </div>
                <h4 class="why-choose-heading">{% trans %}Perfect Checklist{% endtrans %}</h4>
                <p>{% trans %}Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end why choose -->
<!-- how it work -->
  <section id="how-it-work" class="parallax how-it-main-block" style="background-image: url('{{ asset('bundles/front/images/bg/testimonial-bg.jpg') }}');">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">{% trans %}How It Works{% endtrans %}</h3>
        <p class="section-sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natu{% endtrans %}</p>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-wedding-location"></i>
          </div>
          <h4 class="how-it-heading">{% trans %}1.Find The Vendor{% endtrans %}</h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-wedding-planning"></i>
          </div>
          <h4 class="how-it-heading">{% trans %}2.Compare The Proposal{% endtrans %}</h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-heart-with-arrow"></i>
          </div>
          <h4 class="how-it-heading">{% trans %}3.Hire The Right Vendor{% endtrans %}</h4>
        </div>
      </div>
    </div>
  </section>
<!-- end how it work -->
<!-- vendor profile -->
  <section id="vendor-profile-main-block" class="ptb120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">{% trans %}Top Feature Vendor Profile{% endtrans %}</h3>
        <p class="section-sub-heading">{% trans %}Sed ut perspiciatis unde omnis iste natus error{% endtrans %}</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-1.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">{% trans %}Photographer{% endtrans %}</h4>
                <div class="vendor-sub-heading">U. K.</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Micheal Doe</a></h4>
              <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.{% endtrans %}</p>
              <a href="#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-2.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">{% trans %}Photographer{% endtrans %}</h4>
                <div class="vendor-sub-heading">Australia</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Jon Doe</a></h4>
              <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.{% endtrans %}</p>
              <a href="#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-3.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">{% trans %}Photographer{% endtrans %}</h4>
                <div class="vendor-sub-heading">USA</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Sams Doe</a></h4>
              <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.{% endtrans %}</p>
              <a href="#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="{{ asset('bundles/front/images/vendor-profile-4.jpg') }}" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">{% trans %}Photographer{% endtrans %}</h4>
                <h6 class="vendor-sub-heading">Australia</h6>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Alex Doe</a></h4>
              <p>{% trans %}Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.{% endtrans %}</p>
              <a href="#" class="btn read-more">{% trans %}Read More{% endtrans %}</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end vendor profile -->
{% endblock %}