{% extends 'front/layout.html.twig' %}

{% block banner %}
{% include 'front/banner.html.twig' with {'title' : 'Blog'|trans } %}
{% endblock %}

{% block body %}

{% block pagination %}
{% if data.pagesStop is defined and data.pagesStop > 0 %}
<div class="pagination">
  <ul>
    {% for page in data.pagesStart..data.pagesStop %}
    {% if page == data.pagesCurrent %}
    <li class="active"><a class="btn btn-default">{{ page }}</a></li>
    {% else %}
      {% if search is defined %}
      <li><a href="{{ path('blog', {categoryId : currentCategory.id, alias:currentCategory.alias, page: page, search: search}) }}" class="btn btn-default">{{ page }}</a></li>
      {% else %}
      <li><a href="{{ path('blog', {categoryId : currentCategory.id, alias:currentCategory.alias, page: page}) }}" class="btn btn-default">{{ page }}</a></li>
      {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}


{% block sidebar%}
<div class="blog-sidebar">
  <div class="widget blog-search text-right">
    <form action="{{ path('blog') }}" method="get">
      <input name="search" type="search" id="search" class="form-control" placeholder="{% trans %}Enter Keyword{% endtrans %}">
      <button type="submit" class="btn btn-pink">{% trans %}Go{% endtrans %}</button>
    </form>
  </div> 
  {% if blogCategory is defined %}
  <div class="widget">
    <h4 class="blog-sidebar-heading">{% trans %}Blog Categories{% endtrans %}</h4>
    <ul>
      {% for cat in blogCategory.children %}
      <li><a href="{{ path('blog', {categoryId:cat.id, alias:cat.alias}) }}">{{ cat.title|trans }} <span>({{ cat.count }})</span></a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if newsArticles is defined and newsArticles.total != 0 %}
  <div class="widget blog-latest-news">
    <h4 class="blog-sidebar-heading">{% trans %}Latest News{% endtrans %}</h4>
      {% for news in newsArticles.results %}
      <div class="blog-news">
        <div class="blog-news-img">
          <img src="{{ cms_base_url ~ news.images.image_intro }}" class="img-responsive" alt="latest-news">
        </div>
        <div class="blog-news-dtl">
          <h6 class="blog-news-dtl-heading"><a href="{{ path('article', {id:news.id, alias:news.alias })}}">{{ news.title }}</a></h6>
          <div class="date">{{ date(news.created)|localizeddate('full', 'none', current_locale, null, 'd MMMM Y') }}</div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% endif %}

</div>
{% endblock %}

{% endblock %}