{% extends 'front/layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/front/js/bootstrap-datepicker.js') }}"></script>
<script>
$(".datepicker").datepicker();
</script>
{% endblock %}

{% block banner %}
{% if title is not defined %}
{% set title = 'Couple dashboard' %}
{% endif %}
  <section id="page-banner" class="page-banner bg-dark" style="background-image: url('{{ asset('bundles/front/images/banner-2.jpg') }}');"> 
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="banner-dtl">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-sm-4">
                <div class="couple-img">
                  <img src="{% if 'http' in app.user.profilePicture %}{{ app.user.profilePicture }}{% else %}{{ asset(profile_pic_dir ~ app.user.profilePicture) }}{% endif %}" class="img-responsive" alt="couple">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="couple-dtl">
                  <div class="row">
                    <div class="col-xs-7 pad-rt-0">
                      <h3 class="couple-name">{{ app.session.get('profileName') }}</h3>
                    </div>
                    <div class="col-xs-5 pad-lft-0">
                      <a href="{{ path('fos_user_profile_show') }}" class="btn btn-pink">Edit Profile</a>
                    </div>
                  </div>
                  <div class="couple-contact">   
                    <div><i class="fa fa-map-marker"></i>{{ app.session.get('address') }}.</div>
                    <div><i class="fa fa-phone"></i>{{ app.session.get('phone') }}</div>
                  </div>    
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </section>
{% endblock %}